numpy==1.17.4
Cython==0.29.21
pandas==0.25.3
alpha_vantage==2.3.1
requests==2.22.0
scipy==1.6.0
XlsxWriter==1.2.2
matplotlib==3.3.4
selenium==3.141.0
finnhub-python==2.4.0
beautifulsoup4==4.9.3
lxml==4.6.2
future==0.18.2
google-cloud-storage==1.36.0
google-cloud-bigquery==2.9.0
google-cloud-bigquery-storage==2.3.0
pyarrow==3.0.0
tzdata==2021.1
six==1.15.0
backports.ssl_match_hostname==3.7.0.1
websocket-client==0.57.0
alpaca-trade-api==0.53.0
